Thumbs.db
.DS_Store
.vscode/
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
#madoda manager
*.mp3
*.mp4
*.jpg
*___mm_*
*client_secret*
*token*pickle*
*conf.json
*assets/youtube/
#madoda manager  not igonore
!mm_default.jpg
!mm_tags/image.jpg